<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div th:replace="~{base :: titulo('Meus Produtos')}"></div>
    <div class="card mb-3" th:each="produto : ${produtos}">
        <div class="card-header" th:text="${produto.nome}">Nome do Produto</div>
        <div class="card-body">
            <div th:text="${produto.descricao}" ></div>
            <div th:text="${produto.valor}" ></div>
            <div th:text="${produto.data}" ></div>
        </div>
    </div>
</div>
</div>
</body>
</html>